/* FONTS */
@font-face {
  font-family: "Prodact Sans";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url("../fonts/ProductSans-Bold.woff2") format("woff2"),
    url("../fonts/ProductSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/ProductSans-Regular.woff2") format("woff2"),
    url("../fonts/ProductSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Prodact Sans";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url("../fonts/ProductSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/ProductSans-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Prodact Sans";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url("../fonts/ProductSans-Italic.woff2") format("woff2"),
    url("../fonts/ProductSans-Italic.woff ") format("woff");
}

/* MAIN-CODES */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  margin-top: 56px;
  font-family: "Product Sans", "Arial", sans-serif;
  line-height: 1.5;
  color: #000;
}
.container {
  max-width: 1148px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
}
.img {
  max-width: 100%;
  height: auto;
}
.logo-img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.site-header-container {
  display: flex;
  align-items: center
}
.site-navbar {
  display: flex;
  align-items: center;
}
.heder-right-part {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 24px;
}
.site-navigation {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-navigation li {
  position: relative;
}
.site-logo {
  margin-right: auto;
}
.site-logo:hover {
  opacity: 0.8;
}
.site-logo:active {
  opacity: 0.4;
}
.navbar-link {
  display: inline-block;
  position: relative;
  padding-top: 17px;
  padding-bottom: 14px;
  padding: 16px;
  padding-bottom: 13px;
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent
}
.navbar-link:hover{
  border-bottom: 3px solid #191919;
}
.navbar-link:active {
  background: rgba(25, 25, 25, 0.7);
  border: none;
  color: #fff;
}
.phone-num {
  margin-left: 16px;
  white-space: nowrap;
}
.blue-link {
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  background: #00BAFC;
  border-radius: 5px;
  transition: 0.3s ease;
}
.phone-num:hover {
  background-color: #fff;
  color: #00BAFC;
  box-shadow: inset 0 0 0 3px #00BAFC;
}
.phone-num:active {
  background: rgba(0, 186, 252, 0.6);
  box-shadow: none;
  color: #fff;
}
.drop-down-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  width: 124px;
  padding: 10px 0;
  list-style-type: none;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}
.drop-down-link {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 8px 16px;
  transition: 0.3s ease;
}
.drop-down-link:hover {
  background-color: #00BAFC;
  color: #fff;
}
.drop-down-link:active {
  opacity: 0.6;
}
.drop-down:hover .drop-down-menu {
  display: block;
}
.drop-down:hover .navbar-link {
  border-bottom: 3px solid #191919;
}

/* SITE-MAIN-PART */
.site-develop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-develop-text {
  width: 456px;
}
.develop-heading {
  font-size: 30px;
  line-height: 130%;
  margin: 0;
  padding: 0;
}
.develop-text {
  margin: 0;
  padding: 16px 0;
  font-size: 16px;
  line-height: 24px;
}
.page-link:hover {
  margin-top: 16px;
  background-color: rgba(0, 186, 252, 0.8);
}
.page-link:active {
  background-color: rgba(0, 186, 252, 0.6);
}
.video {
  width: 458px;
  height: 258px;
  margin: 80px 0;
  border-radius: 5px;
  border: none;
}
/* CERVICES */
.cervices-section {
  padding: 56px 0;
}
.sections-text {
  width: 719px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.cervices-section-header {
  margin: 0;
  padding-bottom: 16px;
}
.cervices-section-text {
  margin: 0;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.cervices-section-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}
.cervices-section-item {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  margin-right: 70px;
}
.cervices-section-item:nth-child(3),
.cervices-section-item:nth-child(5) {
  margin-right: 0;
}
.cervices-section-link {
  flex-grow: 1;
  display: inline-block;
  width: 320px;
  padding: 24px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 48px;
  color: #222;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}
.cervices-section-link:hover {
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.cervices-section-link:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.cervices-section-link h4 {
  margin: 16px 0;
}
.cervices-section-link p {
  margin: 0;
}

.cervices-section-link::before {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center  ;
  content: "";
}
.cervices-section-link-first::before {
  background-image: url("../img/services-first-img.png");
}
.cervices-section-link-second::before {
  background-image: url("../img/services-second-img.png");
}
.cervices-section-link-third::before {
  background-image: url("../img/services-third-img.png");
}
.cervices-section-link-fourth::before {
  background-image: url("../img/services-fourth-img.png");
}
.cervices-section-link-fifith::before {
  background-image: url("../img/services-fifith-img.png");
}
.cervices-section-main-link {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.service-go-link {
  text-decoration: none;
  color: #00BAFC;
  font-size: 16px;
  line-height: 24px;
  margin-left: 16px;
  padding-bottom: 3px;
  border-bottom: 2px solid #00BAFC;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .cervices-section-link-first::before {
    background-image: url("../img/services-first-img@2x.png");
  }
  .cervices-section-link-second::before {
    background-image: url("../img/services-second-img@2x.png");
  }
  .cervices-section-link-third::before {
    background-image: url("../img/services-third-img@2x.png");
  }
  .cervices-section-link-fourth::before {
    background-image: url("../img/services-fourth-img@2x.png");
  }
  .cervices-section-link-fifith::before {
    background-image: url("../img/services-fifith-img@2x.png");
  }
}

/* HOW-WE-WORK */
.how-we-work {
  padding-bottom: 56px;
}
.work-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}
.work-list-item {
  display: flex;
  align-items: center;
  margin: 24px 0;
  width: 832px;
  justify-content: space-between;
}
.work-list-item::before {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center  ;
  content: "";
}
.work-list-item-first::before {
  height: 277px;
  background-image: url("../img/work-first-img.png");
}
.work-list-item-second::before {
  height: 224px;
  background-image: url("../img/work-second-img.png");
}
.work-list-item-third::before {
  height: 258px;
  background-image: url("../img/work-third-img.png");
}
.work-list-item-fourth::before {
  height: 171px;
  background-image: url("../img/work-fourth-img.png");
}
.work-list-item-fifth::before {
  height: 232px;
  background-image: url("../img/work-fifith-img.png");
}
.work-list-item:nth-child(2n) {
  flex-direction: row-reverse;
}
.work-list-item-text {
  width: 500px;
}
.work-section-link {
  text-align: center;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .work-list-item-first::before {
    height: 277px;
    background-image: url("../img/work-first-img@2x.png");
  }
  .work-list-item-second::before {
    height: 224px;
    background-image: url("../img/work-second-img@2x.png");
  }
  .work-list-item-third::before {
    height: 258px;
    background-image: url("../img/work-third-img@2x.png");
  }
  .work-list-item-fourth::before {
    height: 171px;
    background-image: url("../img/work-fourth-img@2x.png");
  }
  .work-list-item-fifth::before {
    height: 232px;
    background-image: url("../img/work-fifith-img@2x.png");
  }
}

.order {
  background-color: #00BAFC;
  color: #fff;
  padding-top: 56px;
  padding-bottom: 64px;
}

.order-heading {
  margin: 0;
  margin-bottom: 16px;
}

.order-paragraph {
  margin: 0;
}

.form-container {
  width: 348px;
  background-color: #fff;
  padding: 24px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  border-radius: 5px;
}

.form-input {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  background-color: #F3F3F3;
  border:none;
  border-radius: 5px;
}

.form-select {
  width: 100%;
  margin-bottom: 16px;
  padding: 20px;
  background-color: #F3F3F3;
  border:none;
  border-radius: 5px;
}

.form-button {
  display: block;
  padding: 8px 16px;
  margin-right: auto;
  margin-left: auto;
  background-color: #00BAFC;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer
}

/* FOOTER */
.site-footer {
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  background-color: #191919;
}
.footer-container {
  display: flex;
  padding: 56px 0;
}
.footer-right {
  margin-right: 100px;
  width: 320px;
}
.footer-right-copyright {
  margin: 0;
  margin-bottom: 16px;
}
.footer-right-text {
  margin: 0;
}

.site-pages {
  margin-right: 100px;
}
.site-pages-heading {
  margin: 0;
  margin-bottom: 16px;
}
.site-pages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-pages-link {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}
.site-pages-link:hover {
  color: #00BAFC;
}
.site-pages-link:active {
  color: rgba(0, 186, 252, 0.6);
}


.we-in-net-heading {
  margin: 0;
  margin-bottom: 16px;
}
.we-in-net-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.we-in-net-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: auto;
  color: #fff;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}
.we-in-net-link:hover {
  color: #00BAFC;
}
.we-in-net-link:active {
  color: rgba(0, 186, 252, 0.6);
}
.we-in-net-link-name {
  margin-left: 8px;
}
