/* FONTS */
@font-face {
  font-family: "Prodact Sans";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url("../fonts/ProductSans-Bold.woff2") format("woff2"),
    url("../fonts/ProductSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/ProductSans-Regular.woff2") format("woff2"),
    url("../fonts/ProductSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Prodact Sans";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url("../fonts/ProductSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/ProductSans-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Prodact Sans";
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url("../fonts/ProductSans-Italic.woff2") format("woff2"),
    url("../fonts/ProductSans-Italic.woff ") format("woff");
}

/* MAIN-CODES */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  margin-top: 56px;
  font-family: "Product Sans", "Arial", sans-serif;
  line-height: 1.5;
  color: #000;
}
.container {
  max-width: 1148px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
}
.img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.site-header-container {
  display: flex;
  align-items: center
}
.site-navbar {
  display: flex;
  align-items: center;
}
.heder-right-part {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 24px;
}
.site-navigation {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-navigation li {
  position: relative;
}
.site-logo {
  margin-right: auto;
}
.site-logo:hover {
  opacity: 0.8;
}
.site-logo:active {
  opacity: 0.4;
}
.navbar-link {
  display: inline-block;
  position: relative;
  padding-top: 17px;
  padding-bottom: 14px;
  padding: 16px;
  padding-bottom: 13px;
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent
}
.navbar-link:hover{
  border-bottom: 3px solid #191919;
}
.navbar-link:active {
  background: rgba(25, 25, 25, 0.7);
  border: none;
  color: #fff;
}
.phone-num {
  margin-left: 16px;
  white-space: nowrap;
}
.blue-link {
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
  line-height: 24px;
  font-weight: bold;
  background: #00BAFC;
  border-radius: 5px;
  transition: 0.3s ease;
}
.phone-num:hover {
  background-color: #fff;
  color: #00BAFC;
  box-shadow: inset 0 0 0 3px #00BAFC;
}
.phone-num:active {
  background: rgba(0, 186, 252, 0.6);
  box-shadow: none;
  color: #fff;
}
.drop-down-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  width: 124px;
  padding: 10px 0;
  list-style-type: none;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}
.drop-down-link {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 8px 16px;
  transition: 0.3s ease;
}
.drop-down-link:hover {
  background-color: #00BAFC;
  color: #fff;
}
.drop-down-link:active {
  opacity: 0.6;
}
.drop-down:hover .drop-down-menu {
  display: block;
}
.drop-down:hover .navbar-link {
  border-bottom: 3px solid #191919;
}

/* SITE-MAIN-PART */
.site-develop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-develop-text {
  width: 456px;
}
.develop-heading {
  font-size: 30px;
  line-height: 130%;
  margin: 0;
  padding: 0;
}
.develop-text {
  margin: 0;
  padding: 16px 0;
  font-size: 16px;
  line-height: 24px;
}
.page-link:hover {
  margin-top: 16px;
  background-color: rgba(0, 186, 252, 0.8);
}
.page-link:active {
  background-color: rgba(0, 186, 252, 0.6);
}
.video {
  margin: 80px 0;
  border-radius: 5px;
  border: none;
}